<style>
.body { 
    margin: 0;
}
.canvas { 
    display: block; 
}
ul {
    list-style: none;
    display: table;
    margin: 0 auto;
}
ul li {
    list-style: none;
}
ul li::before {
    content: '\2022';
    padding-right: 1em;
    color: #4CAF50;
}
.button input[type="button"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 8px 80px;
    opacity: 0.7;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button input[type="button"]:hover {opacity: 1}

</style>